@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
  font-family:'Cabin','Sans-Serif';
  text-decoration: none;
  text-align:center;
}
.headline{
  margin: 20px 0px 0px 20px;
  text-align: center;
}
.headline h2{
  color: #638d82;
}
.OverviewDays{
  display: inline-block;
  background-color: #f7ede2;
  margin:2em;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.OverviewDays:hover{
  background-color: #f5cac3;
}
.OverviewDays div{
  border: 0;
  padding: 20px;
}
.NavbarButtons{
  display:flex;
  margin: -5px 20px 20px 20px;
  gap:10px;
  justify-content:center;
  align-items:center;
  font-size:0.8em;
}
.NavbarButtons button{
  height: 25px;
  background-color: #f6bd60;
  border-radius:10px;
  border:0;
  cursor: pointer;
  font-size:1em;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.NavbarButtons button:hover{
  height: 30px;
  background-color:#84a59D;
  cursor: pointer;
  color:white;
}
.perDayParent{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.perDay{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width:50%;
  height: 80%;
  border: solid rgb(201, 198, 198) 1px;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.perDay div{
  font-size: 1.2em;
}
.perDay button{
  margin-top: 20px;
  border: 0px;
  background-color: rgb(240, 206, 14);
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius:100%;
  cursor:pointer;
}
.dayAndNight{
  display:flex;
  gap:20px;
}
.dayAndNight div{
  text-align: center;
}
